recursive-include lgpyred/lgpytars/data *.*
recursive-include lgpyred/lgpytars/astrom_config *.*
recursive-include lgpyred/lgpytars/photconf *.*
recursive-include lgpyred/lgpytars/sex_config *.*
recursive-include lgpyred/lgpytars/reduction *.*
